/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/

body {
}
.memo-listing {
    display: inline-block;
    vertical-align: top;
    background-color: rgba(36, 118, 255, 0.45);
    border: solid 1px black;
    width: 300px;
    /*height: 270px;*/
    margin: 10px;
    padding:0;
}
.memo-head {
    margin: 10px;
    min-height: 50px;
}
.memo-head h3 {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: overflow 1s linear;
    -moz-transition: overflow 1s linear;
    -o-transition: overflow 1s linear;
    transition: overflow 1s linear;
}
.memo-head:hover h3 {
    white-space: normal;
    overflow: auto;
    cursor: pointer;
}
.point-list {
    background-color: rgba(165, 255, 255, 0.4);
    margin-top: 10px;
    padding-top: 10px;
    overflow: auto;
    height: 150px;
}
li input:hover,
input + label:hover {
    cursor: pointer;
    font-weight: bold;
}
label {
    font-weight: normal;
}
.done {
    text-decoration: line-through;
    color: gray;
}
div.navbar-collapse.collapse {
    display: block;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .3s ease;
    -moz-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
    max-height: 2000px;
}